NEXT_PUBLIC_SUPABASE_URL=https://fqqrsugsodakeyrrkfkl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sua_key
DATABASE_URL="postgresql://postgres:JRuAKYHhnwnWmq1M@db.fqqrsugsodakeyrrkfkl.supabase.co:5432/postgres"