
DATABASE_URL="postgresql://neondb_owner:npg_WkArRjM0EX7Z@ep-calm-lake-apzqhap5-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


TOKEN_SECRET="b6d1b2bc7fd513a765c13d45f12b324673f76a889c84ad8906730117ac4bf450"
